.container {
  background-color: rgb(13, 120, 247);
  margin: 0 auto;
}

ul {
  list-style: none;
  margin-left: 0 !important;
  padding: 0 !important;
}

h1 {
  font-size: 40px;
  font-weight: 600;
  margin-bottom: 0;
}
h2 {
  font-size: 80px;
  text-align: right;
}
h3 {
  font-size: 16px;
  margin-top: 50px;
  margin-bottom: 2px;
  text-transform: capitalize;
}

footer {
  text-align: center;
  color: white;
  margin-top: 20px;
}

.weather-app {
  background-color: white;
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  border: 1px solid rgb(223, 216, 216);
  border-radius: 10px;
  padding: 40px 60px 60px 60px;
  color: rgb(13, 120, 247);
}
.city-name {
  font-size: 48px;
}

.description {
  font-size: 24px;
}

.weather-info {
  margin-top: 40px;
}

.week-data {
  text-align: center;
}
.week-day {
  font-size: 16px;
  padding-bottom: 5px;
  font-weight: 600;
}
.daily-temperature {
  padding-top: 5px;
  font-size: 16px;
}

.date-time {
  font-size: 16px;
}

.precise-weather {
  font-size: 14px;
}

#search-location-button {
  background-color: rgb(13, 120, 247);
  border: 1px solid rgb(13, 120, 247);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-in-out;
}
#search-location-button:hover {
  background-color: rgb(0, 80, 178);
  border: 1px solid rgb(0, 80, 178);
}
#current-location-button {
  background-color: rgb(123, 182, 255);
  border: 1px solid rgb(123, 182, 255);
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
  transition: all 200ms ease-in-out;
}
#current-location-button:hover {
  background-color: rgb(68, 152, 255);
  border: 1px solid rgb(68, 152, 255);
}
.city-bar {
  box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.1);
}

.current-temperature {
  text-align: right;
  margin-right: 0;
}

.temperature {
  font-size: 72px;
  font-weight: 400;
  line-height: 1;
}
a:visited {
  text-decoration: none;
}

.units {
  font-size: 18px;
}
#celsius {
  color: rgb(13, 120, 247);
}
#fahrenheit {
  color: rgb(13, 120, 247);
}

.signature {
  text-align: center;
  font-size: 12px;
}

.gitLink {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}
.myWebsite {
  text-decoration: underline;
  cursor: pointer;
  color: white;
}
